<div class="top">
  <img src="/images/logo.jpg">
		<h1>Profile</h1>
		<form class="form-horizontal" method="POST" action="/profile/edit">

			
      <span class="form-group">
    <label for="profile-first-name-field" name="profile-first-name" class="col-sm-3 control-label">First Name:</label>
    <span class="col-sm-9">
      <input type="text" class="form-control" name="firstname" id="profile-first-name-field" placeholder="Enter Your First Name...">
    </span>
  </span>

   <span class="form-group">
    <label for="profile-last-name-field" name="profile-last-name" class="col-sm-3 control-label">Last Name:</label>
    <span class="col-sm-9">
      <input type="text" class="form-control" name="lastname" id="profile-last-name-field" placeholder="Enter your Last Name...">
    </span>
</span>

<span class="form-group">
    <label for="profile-user-name-field" name="profile-user-name" class="col-sm-3 control-label">Username:</label>
    <span class="col-sm-9">
      <input type="text" class="form-control" name="username" id="profile-user-name-field" placeholder="Enter your Username...">
    </span>
</span>

      <span class="form-group">
			<label for="profile-email-field" name="profile-email" class="col-sm-3 control-label">Email:</label>
   			<span class="col-sm-9">
      		<input type="email" name="email" class="form-control" id="profile-email-field" placeholder="Enter your email address...">
    		</span>
  			</span>

		<span class="form-group">
    <label for="profile-password-field" name="profile-password" class="col-sm-3 control-label">Password:</label>
    <span class="col-sm-9">
      <input type="password" name="password" class="form-control" id="profile-password-field" placeholder="Enter your password...">
    </span>
  </span>

 <span class="form-group">
    <span class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default btn-xs">Submit</button>
    </span>
  </span>
</form>
</div>

		</form>